<footer>
    <div class="footer-logo">
        <h1>TechMark</h1>
        <img src="Icon.png" alt="Icone da TechMark">
    </div>
    <div>
        <ul class="footer-links">
            <li><a href="#">Sobre Nós</a></li>
            <li><a href="#">Serviços</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Estudo de Caso</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </div>
    <div class="footer-contact">
        <p>Email: contato&#64;techmark.com</p>
        <p>Telefone: +55 11 1234-5678</p>
        <p>&copy; 2024 TechMark. Todos os direitos reservados.</p>
    </div>
</footer>
