.Blog{
    width: 80%;
    max-width: 1000px;
    margin: auto;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Blog_Texto{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2{
    font-size: 25px;
    color: #2F3060;
}

p{
    color: #2f3060c4;
}

button{
    width: 50%;
    max-width: 300px;
    background-color: #2F3060;
    color: white;
    border: none;
    outline: none;
    padding: 5px 13px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    color: #2F3060;
    background-color: #FBA64B;
}

img{
    width: 100%;
    max-width: 400px;
}

@media(max-width:800px){

    img{
        display: none;
    }
}