<section class="StudyCase">

    <div class="Study_Text">
        <h2>Estudos de Caso</h2>
        <p>Veja como ajudamos nossos clientes a alcançar o sucesso com estratégias de marketing personalizadas e eficazes. Nossos estudos de caso mostram os resultados que podemos obter para o seu negócio.</p>
    </div>

    <div class="Study_DivGeral">
        <div class="Borda">
            <p>Implementamos uma campanha de redes sociais que aumentou o engajamento em 150% e dobrou o número de seguidores em apenas três meses.</p>
            <a href="#">Saiba mais</a>
        </div>
        <div class="Borda">
            <p>Através de técnicas avançadas de SEO, elevamos o site do cliente para a primeira página dos resultados de busca, aumentando o tráfego orgânico em 200%.</p>
            <a href="#">Saiba mais</a>
        </div>
        <div>
            <p>Criamos uma campanha de PPC que gerou um retorno sobre o investimento (ROI) de 400%, convertendo leads em clientes fiéis.</p>
            <a href="#">Saiba mais</a>
        </div>
    </div>
</section>
