<section class="contato">
    <div class="textoSuperior">
        <h2>Contato</h2>
        <p>Estamos aqui para ajudar! Preencha o formulário abaixo e entraremos em contato com você o mais rápido possível.</p>
    </div>
    <div class="DivFormulario">
        <form action="#" method="post">
            <div class="form-group">
              <label for="nome">Nome</label>
              <input [(ngModel)]="InputNome" type="text" id="nome" name="nome" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input [(ngModel)]="InputEmail" type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
              <label for="mensagem">Mensagem</label>
              <textarea [(ngModel)]="Inputtexto" id="mensagem" name="mensagem" rows="5" required></textarea>
            </div>
            <button (click)="EnviarContato()" type="submit">Enviar</button>
        </form>
    </div>
</section>
