<section class="About">

    <div class="DivTexto">
        <h2>Transformando Ideias em Resultados Concretos</h2>
        <p>Bem-vindo à TechMark! Somos uma empresa dedicada a fornecer soluções de marketing inovadoras e eficazes para ajudar o seu negócio a crescer e prosperar. Com uma equipe de especialistas em marketing digital, criação de conteúdo e gestão de redes sociais, trabalhamos para desenvolver estratégias personalizadas que atendam às necessidades específicas de cada cliente. Nossa missão é impulsionar o seu sucesso através de campanhas criativas e dados precisos.</p>
        <button>Entre em Contato</button>
    </div>

    <div class="DivImg">
        <img src="ImgCapa.jpg" alt="Imagem de capa Sobre Nós">
    </div>
    
</section>
