<section class="services">

    <div class="Services_TextoInicial">
        <h2>Services</h2>
        <p>Na TechMark, oferecemos uma gama completa de serviços de marketing para atender às suas necessidades. Nossa equipe de especialistas está pronta para ajudar sua empresa a alcançar novos patamares com estratégias personalizadas e eficazes.</p>
    </div>

    <div class="Services_DivGeralDasDivs">

        <div>
            <div class="DivTexto">
                <h3>Marketing de Mídia Social</h3>
                <a href="#">Saiba Mais</a>
            </div>
            <div>
                <img src="ImgServicesSocialMedia.jpg" alt="Icon ilustrativo">
            </div>
        </div>

        <div>
            <div class="DivTexto">
                <h3>Motor de Otimização de Busca</h3>
                <a href="#">Saiba Mais</a>
            </div>
            <div>
                <img src="ImgServicesSearch.jpg" alt="Icon ilustrativo">
            </div>
        </div>

        <div>
            <div class="DivTexto">
                <h3>Publicidade Paga por Clique</h3>
                <a href="#">Saiba Mais</a>
            </div>
            <div>
                <img src="ImgServicesPayPerClick.jpg" alt="Icon ilustrativo">
            </div>
        </div>

        <div>
            <div class="DivTexto">
                <h3>Marketing de Email</h3>
                <a href="#">Saiba Mais</a>
            </div>
            <div>
                <img src="ImgServicesEmail.jpg" alt="Icon ilustrativo">
            </div>
        </div>

    </div>
</section>